trigger:
  branches:
    include:
      - main

pool:
  vmImage: 'ubuntu-latest'

stages:
  - stage: PythonTests
    displayName: 'Python Testing'
    jobs:
      - job: Test
        displayName: 'Run Python Tests'
        strategy:
          matrix:
            Python39:
              python.version: '3.9'
            Python312:
              python.version: '3.12'
        steps:
          - task: UsePythonVersion@0
            inputs:
              versionSpec: '$(python.version)'
            displayName: 'Use Python $(python.version)'

          - script: |
              python -m pip install --upgrade pip
              pip install -r requirements.txt
              pip install pytest pytest-cov flake8
            displayName: 'Install Dependencies'

          - script: |
              flake8 scripts/python/ --max-line-length=120 --statistics
            displayName: 'Lint Python Code'

          - script: |
              pytest tests/python/ -v --cov=scripts/python --cov-report=xml --cov-report=term
            displayName: 'Run Tests with Coverage'

          - task: PublishTestResults@2
            inputs:
              testResultsFormat: 'JUnit'
              testResultsFiles: '**/test-results.xml'
            condition: always()
            displayName: 'Publish Test Results'

  - stage: SecurityAudit
    displayName: 'Security Audit'
    dependsOn: PythonTests
    jobs:
      - job: Audit
        displayName: 'CloudFormation Security Check'
        steps:
          - script: |
              pip install checkov
              checkov -f deploy/cloudformation/iam-platform-stack.yaml --framework cloudformation --soft-fail
            displayName: 'Checkov CloudFormation Scan'
